<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goopy Searcher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1 color-white">Goopy Searcher</span>
        </div>
    </nav>

    <div class="container-sm">
        <form method="POST" action="search">
          {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Text to search</label>
                <input type="text" name="search" class="form-control" id="inputSearch">
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <center>

    {% if final_result %}

    {% for result in final_result %}

    <div class="card p-3" style="width: 18rem">
    
      <div class="card-body">

        <h5 class="card-title">{{ result.0 }}</h5>
        <p class="card-text">{{ result.2 }}</p>
        <a href="{{ result.1 }}" class="card-link">Enter to page</a>

      </div>

    </div>

    {% endfor %}

    {% endif %}

    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>